<div class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
   
    <h2 class="mb-5 text-4xl font-semibold  text-gray-900 dark:text-white">Calificaciones Profesores:</h2>
        <ul class="max-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <li class="pb-3 sm:pb-4">
                <div class="flex items-center space-x-4 rtl:space-x-reverse">
                   <div class="flex-shrink-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         Nombre Profesor:
                      </p>
                   </div>
                   <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-center text-gray-900 truncate dark:text-white">
                         Carrera:
                      </p>
                   </div>
                   <div class="inline-flex items-center font-semibold text-base text-gray-900 dark:text-white">
                      Calificacion:
                   </div>
                </div>
             </li>
            <li class="pb-3 sm:pb-4">
                <div class="flex items-center space-x-4 rtl:space-x-reverse">
                   <div class="flex-shrink-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         Neil Sims
                      </p>
                   </div>
                   <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         Neil Sims
                      </p>
                   </div>
                   <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      8.7
                   </div>
                </div>
             </li>
             <li class="pb-3 sm:pb-4">
                <div class="flex items-center space-x-4 rtl:space-x-reverse">
                   <div class="flex-shrink-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         Neil Sims
                      </p>
                   </div>
                   <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         Neil Sims
                      </p>
                   </div>
                   <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      8.7
                   </div>
                </div>
             </li>
             <li class="pb-3 sm:pb-4">
                <div class="flex items-center space-x-4 rtl:space-x-reverse">
                   <div class="flex-shrink-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         Neil Sims
                      </p>
                   </div>
                   <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         Neil Sims
                      </p>
                   </div>
                   <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      8.7
                   </div>
                </div>
             </li>
             <li class="pb-3 sm:pb-4">
                <div class="flex items-center space-x-4 rtl:space-x-reverse">
                   <div class="flex-shrink-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         Neil Sims
                      </p>
                   </div>
                   <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         Neil Sims
                      </p>
                   </div>
                   <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      8.7
                   </div>
                </div>
             </li>
            
         </ul>
    </div>
