
<div class=" flex items-center flex-col max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <article>
        <div class="flex items-center mb-4">
            <div class="">
                <p class="font-medium dark:text-white">Comentario del profesor: Genaro</p>
                <p class="text-sm">Materia: Introduccion a redes</p>
            </div>
        </div>
        <p class="mb-2 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt sed eius nulla quis architecto autem officiis id debitis asperiores aperiam nam tempore, dicta adipisci reiciendis earum obcaecati eligendi ullam laborum.</p>
        <p class="mb-3 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deserunt necessitatibus reprehenderit repellat voluptas recusandae iusto, magnam quia dignissimos beatae corrupti fugiat vel enim esse dolorum veritatis, soluta officia aliquid?</p>
    </article>
</div>


