<div class="flex flex-col items-center w-full max-w-full p-6">
    <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Mejores Profesores</p>

    <div class="flex items-center mt-4 w-full">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">5 star</a>
        <div class="flex-grow h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
            <div class="h-5 bg-yellow-300 rounded" style="width: 70%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">70%</span>
    </div>
    <div class="flex items-center mt-4 w-full">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">4 star</a>
        <div class="flex-grow h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
            <div class="h-5 bg-yellow-300 rounded" style="width: 17%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">17%</span>
    </div>
    <div class="flex items-center mt-4 w-full">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">3 star</a>
        <div class="flex-grow h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
            <div class="h-5 bg-yellow-300 rounded" style="width: 8%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8%</span>
    </div>
    <div class="flex items-center mt-4 w-full">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">2 star</a>
        <div class="flex-grow h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
            <div class="h-5 bg-yellow-300 rounded" style="width: 4%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">4%</span>
    </div>
    <div class="flex items-center mt-4 w-full">
        <a href="#" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">1 star</a>
        <div class="flex-grow h-5 mx-4 bg-gray-200 rounded dark:bg-gray-700">
            <div class="h-5 bg-yellow-300 rounded" style="width: 1%"></div>
        </div>
        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">1%</span>
    </div>

</div>
