<div class=" flex items-center flex-col max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    
        <app-ratingtable class="w-full"/>

    
    
<!-- table -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Profesor
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Carrera
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Materia
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Calificacion
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            placeholder
                        </th>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            10
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            placeholder
                        </th>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            10
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            placeholder
                        </th>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            10
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            placeholder
                        </th>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            10
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            placeholder
                        </th>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            placeholder
                        </td>
                        <td class="px-6 py-4">
                            10
                        </td>
                        <td class="px-6 py-4">
                            <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="block hover:text-primary-800 font-medium rounded-lg text-sm px-2 py-2.5 text-center dark:text-white dark:hover:bg-primary-300" type="button">
                                Toggle modal
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
<!-- Main modal -->
    <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Calificaiones por Aspecto 
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <!-- rating bars -->
                    <div class="gap-8 sm:grid sm:grid-cols-2">
                        <div>
                            <dl>
                                <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">placeholder</dt>
                                <dd class="flex items-center mb-3">
                                    <div class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 me-2">
                                        <div class="bg-blue-600 h-2.5 rounded dark:bg-blue-500" style="width: 88%"></div>
                                    </div>
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8.8</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">placeholder</dt>
                                <dd class="flex items-center mb-3">
                                    <div class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 me-2">
                                        <div class="bg-blue-600 h-2.5 rounded dark:bg-blue-500" style="width: 89%"></div>
                                    </div>
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8.9</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">placeholder</dt>
                                <dd class="flex items-center mb-3">
                                    <div class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 me-2">
                                        <div class="bg-blue-600 h-2.5 rounded dark:bg-blue-500" style="width: 88%"></div>
                                    </div>
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8.8</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">placeholder</dt>
                                <dd class="flex items-center">
                                    <div class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 me-2">
                                        <div class="bg-blue-600 h-2.5 rounded dark:bg-blue-500" style="width: 54%"></div>
                                    </div>
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray-400">5.4</span>
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <dl>
                                <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">placeholder</dt>
                                <dd class="flex items-center mb-3">
                                    <div class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 me-2">
                                        <div class="bg-blue-600 h-2.5 rounded dark:bg-blue-500" style="width: 89%"></div>
                                    </div>
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8.9</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">placeholder</dt>
                                <dd class="flex items-center mb-3">
                                    <div class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 me-2">
                                        <div class="bg-blue-600 h-2.5 rounded dark:bg-blue-500" style="width: 70%"></div>
                                    </div>
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray-400">7.0</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="text-sm font-medium text-gray-500 dark:text-gray-400">placeholder</dt>
                                <dd class="flex items-center">
                                    <div class="w-full bg-gray-200 rounded h-2.5 dark:bg-gray-700 me-2">
                                        <div class="bg-blue-600 h-2.5 rounded dark:bg-blue-500" style="width: 89%"></div>
                                    </div>
                                    <span class="text-sm font-medium text-gray-500 dark:text-gray-400">8.9</span>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    </div>
                </div>
            
            </div>
    </div>
</div>

